<div class="container-add-action">
    <h4>Dodaj akcję dla: {{this._id}}</h4>
    <ul>
        <li>Email: {{this.email}}</li>
        <li>Nr.telfonu: {{this.phoneNumber}}</li>
    </ul>

    <form action="//{{_id}}/" method="POST">
        <div class="form-group1">
            <label for="contactDate">Data Spotkania:</label>
            <input type="date" id="contactDate" name="contactDate" required>
        </div>
        <div class="form-group2">
            <label for="actionType">status przedsięwzięcia/zlecenia:</label>
            <input type="text" id="actionType" name="actionType" required>
        </div>
        <div class="form-group3">
            <label for="actionDescription">Opis:</label>
            <textarea id="actionDescription" name="actionDescription" required></textarea>
        </div>
         <div class="form-group4">
            <label for="actionDescription">Identyfikator wydawcy:</label>
            <textarea id="actionDescription" name="actionDescription" required></textarea>
        </div>
         <div class="form-group5">
            <label for="actionDescription">Identyfikator akcji finansowych[akcji]:</label>
            <textarea id="actionDescription" name="actionDescription" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Przypisz akcję</button>
    </form>
</div>