<div class="container">
    <h2>Dodaj nowego klienta</h2>
    <br>
    <form action="/add" method="POST">
        <label for="fullName">Pełna Nazwa Firmy</label>
        <input type="text" name="fullName" id="fullName" required>
        <br>
        <label for="street">Ulica</label>
        <input type="text" name="street" id="street" required>
        <br>
        <label for="postCode">Kod pocztowy</label>
        <input type="text" name="postCode" id="postCode" required>
        <br>
        <label for="city">Miejscowość</label>
        <input type="text" name="city" id="city" required>
        <br>
        <label for="nip">NIP</label>
        <input type="text" name="nip" id="nip" required>

        <button>Zapisz Dane</button>
    </form>
</div>