<div class="container4">
    <h4>{{this.loggedUser}}</h4>

    <ul>
        <li><b></b></li>
        <li><b></b></li>
        <li><b></b></li>
    </ul>

    {{#if }}
    <ul>
        {{#each}}
        <li>
            <b></b>
            <b></b>
            <b></b>
            <b></b>
            <b></b>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Brak przypisanych działań</p>
    {{/if}}

    <a href="/" class="btn btn-primary">Dodaj akcje</a>
</div>